body {
  margin: 0;
  padding: 0;
}

.navbar2 {
  margin-bottom: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  padding: 9px;
}

span {
  color: green;
  font-weight: 800;
}

.main {
  display: flex;
  flex-direction: column;
}
.whiteback {
  margin: auto;
  width: 100%;
  height: 40vh;
  padding: 30px;
  word-spacing: 5px;
  box-shadow: 0.1px 20px 1px rgb(143, 142, 142);
}

.greyback {
  width: 100%;
  height: 50vh;
  background-color: rgb(172, 169, 169);
  margin-top: 10px;
  padding: 30px;
}

.biggie {
  background-color: rgb(255, 255, 255);
  width: 550px;
  height: 250px;
  margin: auto;
  padding: 10px;
}

.small {
  background-color: whitesmoke;
  width: 550px;
  height: 250px;
  margin: auto;
  padding: 10px;
  box-shadow: 0.1px 10px 1px rgb(136, 135, 134);
}
.small p {
  margin-top: 30px;
}

.tiny {
  background-color: orange;
  border: 2px solid orange;
  width: 300px;
  height: 50px;
  position: relative;
  bottom: -10px;
  left: -20px;
  box-shadow: 0.1px 5px 1px rgb(134, 90, 8);
}
.tiny p {
  font-weight: 900;
  font-size: large;
  margin-top: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.btn1 {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-weight: 800;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .whiteback {
    background-color: white;
    box-shadow: 0.1px 10px 1px rgb(143, 142, 142);
    height: 240px;
    padding: 0;
    margin: 0;
  }
  .biggie {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 95%;
    height: 200px;
    margin: 2px;
    padding: 12px;
  }

  .greyback {
    background-color: rgb(77, 75, 75);
    padding: 0;
    box-shadow: 0.1px 10px 1px rgb(143, 142, 142);
    height: 400px;
  }

  .small {
    background-color: whitesmoke;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 45px;
    width: 95%;
    height: 300px;
  }
  .small p {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
  }

  .tiny {
    background-color: orange;
    width: 300px;
    height: 50px;
    position: relative;
    bottom: 1px;
    left: -10px;
    box-shadow: 0.1px 5px 1px rgb(134, 90, 8);
  }

  .tiny p {
    font-weight: 900;
    font-size: large;
    margin-top: 5px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 390px) {
  body {
    margin: 0;
    padding: 0;
    font-size: x-small;
  }

  .main {
    display: grid;
    grid-template-columns: auto;
  }

  .whiteback {
    background-color: white;
    box-shadow: 0.1px 10px 1px rgb(143, 142, 142);
    padding: 0;
    margin-top: 30px;
    height: 600px;
    width: 200px;
  }

  .biggie {
    padding: 0;
    margin: 0;
    width: 200px;
  }

  .greyback {
    background-color: rgb(77, 75, 75);
    padding: 0;
    box-shadow: 0.1px 10px 1px rgb(87, 87, 85);
    height: 600px;
    width: 200px;
  }

  .small {
    background-color: whitesmoke;
    padding: 0;
    margin-top: 45px;
    width: 100%;
    height: 400px;
  }
  .small p {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
  }

  .tiny {
    background-color: orange;
    width: 190px;
    height: 50px;
    position: relative;
    bottom: -2px;
    left: -10px;
    box-shadow: 0.1px 5px 1px rgb(134, 90, 8);
  }

  .tiny p {
    margin-top: 0px;
    margin-bottom: 2px;
    padding-left: 20px;
  }
}
