body {
  margin: 10px;
  font-family: Segoe UI;
}

.navbar2 {
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 9px;
}

.btn1 {
  width: 150px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid white;
  color: aliceblue;
  box-shadow: 1px 1px 1px rgb(69, 70, 69);
  font-weight: 800;
  background-color: rgb(97, 206, 151);
}
.btn1:hover {
  background-color: rgb(61, 167, 141);
  cursor: pointer;
}

.content {
  display: flex;
  width: 1000px;
  flex-direction: column;
  box-shadow: 1px 1px 1px rgb(197, 202, 197);
  border-radius: 8px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
}

.main {
  display: flex;
  width: 900px;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.left {
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  text-align: start;
}

.logo {
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.text {
  padding-left: 20px;
  margin-top: 0;
}

.right {
  background-color:rgb(255, 255, 255);
  border-radius: 3px;
  margin: 20px;
  padding: 8px;
  box-shadow: 1px 1px 1px rgb(238, 236, 236);
}

form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
}

p {
  font-size: small;
}

a {
  color: rgb(61, 145, 167);
}

.class1,
.class2,
.class3 {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.class4 {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  min-width: 100px;
  border: 1px solid white;
  margin-right: 5px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

input[type="text"],
input[type="date"]:hover {
  border-color: rgb(219, 222, 223);
}

input[type="password"] {
  padding: 10px;
  min-width: 370px;
  border: 1px solid #d6d8db;
  margin-right: 5px;
  border-radius: 4px;
  background-color:white;
}

#gender {
  min-width: 200px;
  margin-right: 10px;
  height: 40px;
  background-color:white;
}
select {
  min-width: 390px;
  border: 1px solid #e3e6eb;
  border-radius: 4px;
  height: 40px;
}

#Act-lev {
  min-width: 190px;
  height: 40px;
  background-color: white;
}

button[type="submit"] {
  color: white;
  background-color: rgb(97, 206, 151);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(61, 167, 141);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar2{
    display: flex;
    flex-direction: row;
    margin: 4px;
    box-shadow: 1px 1px 1px rgb(232, 235, 232);
    border-radius: 8px;
  }
  
  .btn1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    width: 90px;
    height: 30px;
    font-weight: 800;
    font-size: 9px;
    border: 2px solid white;
    background-color: rgb(87, 213, 218);
    box-shadow: 1px 1px 1px rgb(69, 70, 69);
    border-radius: 8px;
  }
  .content {
    display: flex;
    max-width: 400px;
    padding: 20px;
    flex-direction: column;
    box-shadow: none;
    align-items: center;
    text-align: center;
    margin: auto;
    box-shadow: 1px 1px 1px rgb(238, 241, 238);
    border-radius: 8px;
  }
  .main {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
  .logo {
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0;
  }
  img {
    width: 40px;
  }

  .left {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
    text-align: start;
  }
  .right {
    background-color: rgb(255, 255, 255);
    max-width: 300px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    max-width: 300px;
  }
  .class1,
  .class2,
  .class3,
  .class4 {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  input {
    border: 1px solid white;
  }
  
  input[type="date"] {
    min-width: 180px;
    border: 1px solid #d6d8db;
    margin-right: 5px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
  }
  
  input[type="password"] {
    padding: 10px;
    min-width: 150px;
    border: 1px solid #d6d8db;
    margin-right: 5px;
    border-radius: 4px;
    background-color:white;
  }
  
  #gender {
    min-width: 200px;
    margin-right: 10px;
    height: 40px;
    background-color:white;
  }
  select {
    min-width: 390px;
    border: 1px solid #e3e6eb;
    border-radius: 4px;
    height: 40px;
  }
  
  #Act-lev {
    min-width: 150px;
    height: 40px;
    background-color: white;
  }

}
