body {
  background-color: pink;
}
.container {
  display: flex;
  border: 10px solid rgb(172, 164, 164);
  border-radius: 20px;
  width: 300px;
  margin: auto;
  justify-items: center;
  padding: 50px;
  color: #fff;
}

.heading {
  background-color: rgb(223, 133, 148);
  padding: 1px;
  margin-bottom: -60px;
  border-radius: 5px;
  top: -50px;
  position: relative;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 300px;
  height: 100%;
  text-align: center;
  background-color: #e6dcdc;
  color: black;
  border-radius: 5px;
}
.navbar2 {
  margin-bottom: 10px;
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  padding: 9px;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-weight: 800;
  font-size: small;
  padding: 2px;
  background-color: #e6dcdc;
  border: 2px solid rgb(172, 164, 164);
  margin-bottom: 5px;
}
button:hover{
  cursor: pointer;
  background-color: #cfb2b2;
  border: 2px solid white;
  color: white;
}

@media screen and (width: 600px) {
  body {
    background-color: pink;
    width: 500px;
    margin: auto;
    padding: 10px;
  }

  .container {
    display: flex;
    border: 5px solid rgb(172, 164, 164);
    width: 350px;
    margin: auto;
  }
  
  button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: 800;
    font-size: small;
    padding: 2px;
    background-color: #e6dcdc;
    border: 2px solid rgb(172, 164, 164);
    margin-bottom: 5px;
  }
}
